.code-container span {
    font-weight: 999 !important;
    font-style: bold !important;

}

.c {
    color: rgb(25, 121, 117);
}

.rb {
    color: royalblue;
}
.lb {
    color: rgb(55, 117, 134);
}

.lg {
    color: rgb(29, 108, 83);
}

.gr {
    color: rgb(218, 183, 78);

}

.m {
    color: rgb(154, 72, 154);
}

.mpink {
    color: rgb(154, 72, 112);
    
}
.o {
    color: rgb(157, 173, 30)
}
/* purples */
.lpb {
    color: rgb(194, 36, 155);

}
.t {
    color: rgb(167, 61, 42);
}