/* sizing.css */
.page-header{
    height: 10vh;
    width: 100%;
}

.main-content {
    width: 100%;
}
.side-bar {
    height: 100vh;
}

.side-bar-btns-container button{
    flex-basis: 50%;
}
.vid img {
    max-height: 100px;
    max-width: 100px;
}