/* css-modules.css */
@import url('step-txt-modules/step-txt-modules.css');
@import url('responsive-modules.css?v=transparent-header-1');
/* components */
@import url('components-modules/page-header-modules.css');
@import url('components-modules/side-bar-modules.css');

/* UI */
@import url('ui-modules/copyCode.css');
@import url('ui-modules/dark-mode-modules.css');
@import url('ui-modules/toggle-side-bar.css');
@import url('ui-modules/interactions-modules.css');
/* Utilities */
@import url('utilities-modules/layout-modules.css?v=transparent-header-1');

@import url('utilities-modules/code-colors.css');
@import url('utilities-modules/colors-modules.css');
@import url('utilities-modules/borders-modules.css');
@import url('utilities-modules/position-modules.css');
@import url('utilities-modules/sizing-modules.css');
@import url('utilities-modules/spacing-modules.css');
@import url('utilities-modules/txt-modules.css');

@import url('utilities-modules/effects-modules.css');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#targetDivInjected header h3#lessonTitle {
    display: none !important;
    color: blue !important;
}