/* main.css */
/* components */
@import url('components/page-header.css');
/* utilities */
@import url('utilities/borders-index.css');
@import url('utilities/effect-index.css');
@import url('utilities/layout-index.css');
@import url('utilities/sizing-index.css');
@import url('utilities/spacing-index.css');
@import url('utilities/text-index.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
